body{
    margin:0;
    padding-top: 800px;
    background: linear-gradient(#e65a53 0%, #339ff2 100%);
    text-align: center;
}
#img1{
    width: 175px;
    margin-bottom:50px;
    border-radius: 50%;
}
#welcome{
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity:0.83;
    width: 100%;
    height:100%;
    display:table;
    z-index: 9;
}
.paralax-inner{
    display:table-cell;
    position:relative;
    text-align: center;
    vertical-align:middle;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size: 42px;
}
p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
}
#name{
    font-size: 30;
    font-family: 'Cinzel Decorative', cursive;
}
.menu{
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
.links{
    float: left;
    color: deepskyblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    font-family: fantasy;
}
.links:hover{
    background-color: black;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.article:hover{
    color: firebrick;
}
#writings{
   background-color: white;
}